[Unit]
Description=Transient Podman runtime for Automata runner 2
Before=automata-runner@2.service
PartOf=automata-runner-host.target

[Mount]
What=automata-runner-runtime-2
Where=/run/automata_runner_2
Type=tmpfs
Options=nodev,nosuid,noswap,size=20G,nr_inodes=349525,mode=0700,uid=1002,gid=1002

[Install]
WantedBy=automata-runner-host.target
